/* src/index.css */
body {
  font-family: 'Arial', sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
}
